
 body{
  margin-left: 10px;
  max-width: 650px;
  margin:0 auto;
  padding: 0 auto;
 }

 h1{
  font-size:64px;
  margin-bottom: 16px;
}

 input, button{
    padding: 5px 5px;
    font-size: 20px;
    margin-right  : 20px;
 }

  .list-item-completed{
text-decoration: line-through;
opacity: 0.5;
color: green;
font-weight: bold;
 }

 li:hover{
   cursor: pointer;
 }

 ul{
   list-style-type: none;
   padding: 0%;
   font-size: 20px;
   color: red;
   font-weight: bold;
 }

 .remaining-items{
  color: black;
  font-size: 20px;

 }